<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700|Oxygen" rel="stylesheet">
    <link href="login.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container h-100 text-center">
      <br>
      <div class="row">
        <h1 class="header">Welcome to idenTREEfier!</h1>
      </div>
      <div class="row">
        <p>an app by <a href="https://www.linkedin.com/in/pete-lamalfa3/">Pete LaMalfa</a> with icons by <a href="https://www.instagram.com/molly_bot/?hl=en"> Molly Craig</a>
      </div>
      <div class="row>">
        <img src="https://i.imgur.com/ROMPfxK.png">
      </div>
      <br>
      <div class="row">
        <h5 class="header">Please log in below to start finding some trees in NYC</h2>
      </div>
      <br>
      <div class="row">
        <form class="login" action="/login" method="POST">
          <input type="text" name="username" placeholder="username">
          <input type="password" name="password" placeholder="password">
          <input type="submit" value="submit" class="btn">
        </form>
      </div>
      <br>
      <br>
      <div class= "row">
        <p>New to the site? Please create an account <a href="/newUser">here</a>
      </div>
    </div>
  </body>
</html>
